<br/>
<div class="container">
  <div class="dropdown">
    <a href="javascript:void(0)" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ "dropDownTitle" | translate }}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a (click)="changeLanguage('hi')">{{ "Languages.Hindi" | translate }}</a>
      </li>
      <li>
        <a (click)="changeLanguage('ch')">{{ "Languages.Chinese" | translate }}</a>
      </li>
      <li>
        <a (click)="changeLanguage('fn')">{{ "Languages.French" | translate }}</a>
      </li>
      <li>
        <a (click)="changeLanguage('en')">{{ "Languages.English" | translate }}</a>
      </li>
      <li>
        <a (click)="changeLanguage('tg')">{{ "Languages.Telugu" | translate }}</a>
      </li>
    </ul>
  </div>
  <h3 class="text-center text-info">{{ "Title" | translate }} </h3>
  <div class="jumbotron">
    <h1>{{ "headTxt" | translate }}</h1>
    <p>{{ "mainTxt" | translate }}</p>
  </div>
  <p>{{ "subTxt" | translate }}</p>
  <p>{{ "subTxt1" | translate }}</p>

  <hr/>
  <h2 class="text-center text-info">This part is not translated</h2>
  <app-parent></app-parent>

</div>