<div class="container">
  <h2>Add Product</h2>
  <form #addProductDetails="ngForm" (ngSubmit)="addNewProduct(addProductDetails.value)">
    <div class="form-group">
      <label for="Product Name">Item Name:</label>
      <input type="text" class="form-control" #productName="ngModel" [(ngModel)]="addProductDetails.name" placeholder="Enter item name"
        name="name" required>
      <div *ngIf="productName.invalid && (productName.dirty || productName.touched)" class="text-danger">
        <div *ngIf="productName.errors.required">
          *Name is Required!
        </div>
      </div>
      </div>
      <div class="form-group">
        <label for="Pro-color">Color:</label>
        <input type="text" class="form-control" #color="ngModel" [(ngModel)]="addProductDetails.color" placeholder="Enter item color details"
          name="color" required>
        <div *ngIf="color.invalid && (color.dirty || color.touched)" class="text-danger">
          <div *ngIf="color.errors.required">
            *Color is Required!
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!addProductDetails.valid">Add Product</button>
      <h3>
        <a routerLink="/">Back</a>
      </h3>
  </form>

  <br/>
  <h3 *ngIf="isAdded"> {{ confirmationString }}</h3>
  </div>