<!-- <div class="container">
  <h3 class="text-primary">Form Validation in Angular Using Template Driven Modal</h3>
  <div class="row centered-form">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Register</h3>
        </div>
        <div class="panel-body">
          <form role="form" #userResgistrationForm="ngForm" novalidate (ngSubmit)="register(userResgistrationForm.value,userResgistrationForm.valid)">
            <div class="form-group">
              <label for="email">User Name:</label>
              <input type="text" name="username" #username="ngModel" [(ngModel)]="userResgistrationForm.UserName" class="form-control input-sm" placeholder="User Name"
                required>
              <p class="help-block">Username can contain any letters or numbers, without spaces</p>
              <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
                <div *ngIf="username.errors.required">
                  User Name is required.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" name="email" #email="ngModel" [(ngModel)]="user.Email" class="form-control input-sm" placeholder="Email Address"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
              <p class="help-block">Please provide your E-mail</p>
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                <div *ngIf="email.errors.pattern">
                  Please give email in valid format.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Password:</label>
              <input type="password" name="pass" #pass="ngModel" [(ngModel)]="user.Password" class="form-control input-sm" placeholder="Password"
                required minlength="5" validateEqual="confirm_pass" reverse="true">
              <p class="help-block">Password should be at least 5 characters</p>
              <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="text-danger">
                <div *ngIf="pass.errors.required">
                  Password is required.
                </div>
                <div *ngIf="pass.errors.minlength">
                  Password must be at least 5 characters long.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Password (Confirm):</label>
              <input type="password" name="confirm_pass"  #confirm_pass="ngModel" [(ngModel)]="user.Confirm_Password" class="form-control input-sm" placeholder="Confirm Password"
                required minlength="5" validateEqual="pass" reverse="true">
              <p class="help-block">Confirm Password should be at least 5 characters</p>
              <div *ngIf="confirm_pass.invalid && (confirm_pass.dirty || confirm_pass.touched)" class="text-danger">
                <div *ngIf="confirm_pass.errors.required">
                  Confirm Password is required.
                </div>
                <div *ngIf="confirm_pass.errors.minlength">
                  Password must be at least 5 characters long.
                </div>
                <div *ngIf="confirm_pass.errors.notEqual">
                    Password Mismatch.
                  </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!userResgistrationForm.valid">Register</button>

          </form>
        </div>
      </div> -->


      

      <!---------- Navbar Header ------------------------>
      <!-- <h2 class="text-center text-primary">Dummy Website</h2>
      <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="'home'">Sample</a>
          </div>
          <ul class="nav navbar-nav" *ngFor="let i of navbarItem ; let j = index" >
            <li><a [routerLink]="navrbarPaths[j]" [routerLinkActive]="['active']">{{ i.title }}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a [routerLink]="'logout'"> Logout</a></li>
            </ul>
        </div>
      </nav>
    </div> -->

    <!---------- Different Form ---------------------->
    <app-header></app-header>
    <router-outlet></router-outlet>