<!-- <app-header></app-header> -->
<div class="container">
    <h4 class="text-primary">Image Gallery of Our Company</h4>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href=".\assets\images\6.jpeg" target="_blank">
                    <img src=".\assets\images\6.jpeg" alt="Lights" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href=".\assets\images\3.jpeg" target="_blank">
                    <img src=".\assets\images\3.jpeg" alt="Nature" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href=".\assets\images\5.jpeg" target="_blank">
                    <img src=".\assets\images\5.jpeg" alt="Fjords" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!----- Embeded Videos on Our Page ---------->
    <!-- <h4 class="text-primary">Responsive Embed</h4>
    <p>Create a responsive video and scale it nicely to the parent element with an 16:9 aspect ratio</p>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
    </div> -->
</div>